---
layout: default
title: MHE NMDS Data Entry Tool
direction: Home
---
<p>The MHE Data Entry Tool is a Microsoft Access Application which assists Jurisdictions to properly format and submit an MHE Data File into the Online Validator. A release of this tool is made available for each submission period (07/08, 08/09, 09/10 etc).</p>
<p>Instructions:</p>
<ol>
<li>Download the 'back end' database mhe-nmds-20xx-20xx-empty-data.zip</li>
<li>Download the 'interface' mhe-nmds-20xx-20xx-interface.zip</li>
</ol>
<p>These files are distributed in zipped form. Extract them both to the same folder on your computer and open the MHE-NMDS-20xx-20x-Interface.mdb file with Microsoft Access.</p>
<p><strong>NOTE:</strong> If you have entered any data <strong>DO NOT</strong> extract the mhe-nmds-20xx-20xx-empty-data.zip file into the same directory as your old MHE NMDS database or you will lose your data.</p><h2>MHE Data Entry Tool Releases</h2>
<ul>
    {% assign work_items = site.mhe-nmds-data-entry-tool | sort: 'title' | reverse %}
    {% for item in work_items %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.current_release %}
                (Current release)
            {% endif %}
        </li>
    {% endfor %}
</ul>
<h2>MHE NMDS Import Tool</h2>
<p>This tool allows appropriately formatted CSV files to be imported into the MHE NMDS Data Entry Tool. Copies of this tool in the relevant submission period are located on the relevant page.</p>
<h2>Getting Support</h2>
<p>First take a look at the relevant User Guide on each Submission page, if nothing there is of assistance email <a href="mailto:support@validator.com.au">support@validator.com.au</a> describing the problem and making sure to include any error messages you may have seen. Screen-shots are very helpful.</p>
<h2>Mailing List</h2>
<p>If you would like to be kept up to date about new releases of the MHE NMDS Data Entry Tool, you can <a href="http://lists.validator.com.au/sympa/subscribe/announce" target="_top">subscribe to the announcement mailing list</a>.</p>

<div id='last-modified' class='pull-right'>
    </div>
                    <div class="clear-float">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
