<div class="flex-auto flex-initial h-32 bg-blue-900 border-t-8 border-gray-600">
    <div class="container mx-auto">
        <div class="grid grid-cols-2 my-4">
            <div class="flex justify-center col-span-2 m-3 md:justify-start md:col-span-1">
                <ul class="flex">
                    <li class="mr-3 text-white">
                    <a href="https://strategicdata.com.au/about/privacy/">Privacy</a> 
                    </li>
                    <!-- <li class="mr-3 text-white">
                    Need Help
                    </li>
                    <li class="mr-3 text-white">
                    Accessibility
                    </li> -->
                </ul>
            </div>
            <div class="flex content-end justify-center col-span-2 md:col-span-1 md:justify-end">
                <p class="my-3 text-white">© Copyright Strategic Data 2020</p>
            </div>
        </div>
    </div>
</div>