

    <div class="container-fluid">
        <div class="content_outer">
            <div class="content_inner">
                <ul class='breadcrumb'>
                    <li><a href='/index.html'>Home</a><span class='divider'>&rarr;</span></li>
                    {% if page.direction != 'Home' %}
                    <li><a href="{{ page.directory }}">{{ page.direction }}</a><span class='divider'>&rarr;</span></li>
                    {% endif %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="main-content">
                        <h1>{{ page.title }}</h1>
